<!DOCTYPE html>

<html>

<head>
    <title>midtence's github page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/app.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" >
</head>

<body>
    <div class="nav">
        <div class="navbar">
            <div><a href="">五子棋</a></div>
            <div><a href="">中国象棋</a></div>
        </div>
    </div>

    <div id="app">
        Counter:{{counter}}
    </div>

    <div id="event-handling">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">反转 Message</button>
    </div>

    <div id="two-way-binding">
        <p>{{ message }}</p>
        <p>{{ message }}</p>
        <input v-model="message" />
    </div>

    <div id="conditional-rendering">
        <span v-if="seen">现在你看到我了</span>
    </div>

    <div id="list-rendering">
        <ol>
          <li v-for="todo in todos">
            {{ todo.text }}
          </li>
        </ol>
    </div>

</body>

</html>
